.background-images{
    background-image: url('/public/assets/background-invoice.png');
    background-size: cover;  /* Agar gambar memenuhi div */
    background-position: center;  /* Untuk memusatkan gambar */
    background-repeat: no-repeat;  /* Mencegah gambar diulang */
  }
  /* invoice.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  h1, p {
    margin: 0; /* Mengatur margin agar tidak mengganggu layout */
  }
}

/* Anda juga bisa menambahkan aturan khusus untuk tabel */
table {
  border-collapse: collapse; /* Mencegah jarak antar border */
}
