.background-images{
    background-image: url('/public/assets/background-invoice.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
  }
.whitespace-pre {
  white-space: pre-wrap;
}
.content-table {
  font-size: 0.7rem;
  line-height: 0.9rem; /* Atur line-height sesuai kebutuhan */
}
